{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="kf_content_wrap">
        <div class="error-wrap">
            <h4>{{ 'front.500_error'|trans }}</h4>
        </div>
    </div>
{% endblock %}
