{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="kf_content_wrap">
        <div class="error-wrap">
            <span>404</span>
            <h4>{{ 'front.404_error'|trans }}</h4>
        </div>
    </div>
{% endblock %}
