<!--WIDGET FEATURESD START-->
<div class="widget widget-featured">
    <!--WIDGET HEADING START-->
    <div class="aside-widget-hd">
        <h5>Featured Books</h5>
    </div>
    <!--WIDGET HEADING END-->
    <div class="widget-padding">
        <!--FEATURED 3 START-->
        <div class="featured-dec3">
            <figure>
                <img src="" alt="">
            </figure>
            <div class="text">
                <a href="#">Last Sleep</a>
            </div>
        </div>
        <!--FEATURED 3 END-->
    </div>
</div>
<!--WIDGET FEATURESD END-->