{% if books.haveToPaginate %}
    <input type="hidden" name="page" id="page" value="{{ books.currentPage }}">
    <div class="col-md-12">
        <div class="kf-pagination">
            {% set routeParams = route_params ?? [] %}
            {{ pagerfanta(books, 'bookary_pagination', {
                'routeName': route_name,
                'proximity': 8,
                'routeParams': {'page': books.currentPage}|merge(routeParams),
                'omitFirstPage': true
            }) }}
        </div>
    </div>
{% endif %}
