{% spaceless %}
    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="utf-8">
        {% block meta %}
            <meta name="description" content="{{ meta_data.description|default('meta.description'|trans) }}">
            <meta name="keywords" content="{{ meta_data.keywords|default('meta.keywords'|trans) }}">
            <link rel="dns-prefetch" href="">
            <meta property="og:title" content=""/>
            <meta property="og:description" content="">
            <meta name="twitter:title" content=""/>
            <meta name="twitter:description" content="">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock meta %}

        <title>{% block title %}Falcon library{% endblock %}</title>
        {% block stylesheets %}
            {% include '@App/Elements/Header/css.html.twig' %}
        {% endblock %}
        {% block favicons %}
            <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
    </head>

    <body>
    <div class="kode_wrapper">
        {%- block header %}
            {% include '@App/Elements/Header/header.html.twig' %}
        {%- endblock header %}

        {% block body %}{% endblock %}

        {%- block footer %}
            {% include '@App/Elements/Footer/footer.html.twig' %}
        {%- endblock footer %}

        {% block javascripts %}
            {% include '@App/Elements/Footer/javascript.html.twig' %}
        {% endblock %}
    </div>

    {% block analytics %}{% endblock %}
    {% block counters %}{% endblock %}
    </body>
    </html>
{% endspaceless %}