fos_elastica:
    clients:
        default: { host: "%elastic_host%", port: "%elastic_port%" }
    indexes:
        routes:
            index_name: routes
            client:     default
            use_alias:  true
            types:
                route:
                    mappings:
                        path: { type: string, index: not_analyzed }
        books:
            index_name: books
            client:     default
            use_alias:  true
            settings:
                index:
                    analysis:
                        analyzer:
                            russian_exact:
                                type: custom
                                tokenizer: standard
                                filter: [lowercase]
                        filter:
                            russian_stop:
                                  type: stop
                                  stopwords: _russian_
                            russian_stemmer:
                                  type: stemmer
                                  language: russian
            types:
                book:
                    mappings:
                        book_id:              { type: integer }
                        title:                { type: string, analyzer: russian, copy_to: book_title }
                        rating:               { type: float }
                        book_type:            { type: integer }
                        annotation:           { type: string }
                        cover_path:           { type: string }
                        path:                 { type: string, index: not_analyzed }
                        price:                { type: float }
                        filename:             { type: string }
                        has_trial:            { type: boolean }
                        reader:               { type: string }
                        date:                 { type: string }
                        lang:                 { type: string }
                        sequence_number:      { type: integer }
                        litres_id:            { type: integer }
                        document_id:          { type: string }
                        publisher:            { type: string }
                        city_published:       { type: string }
                        year_published:       { type: string }
                        isbn:                 { type: string }
                        review_count:         { type: integer }
                        authors:
                            type: "nested"
                            properties:
                                author_id:    { type: integer }
                                first_name:   { type: string, analyzer: russian, copy_to: author_name }
                                middle_name:  { type: string, analyzer: russian, copy_to: author_name }
                                last_name:    { type: string, analyzer: russian, copy_to: author_name }
                                photo_path:   { type: string }
                                description:  { type: string }
                                level:        { type: integer }
                                review_count: { type: integer }
                                arts_count:   { type: integer }
                                litres_id:    { type: integer }
                                document_id:  { type: string }
                                path:         { type: string, index: not_analyzed }
                        genres:
                            type: "nested"
                            properties:
                                genre_id:     { type: integer }
                                title:        { type: string, analyzer: russian, copy_to: genre_title }
                                description:  { type: string }
                                litres_id:    { type: integer }
                                path:         { type: string, index: not_analyzed }
                        tags:
                            type: "nested"
                            properties:
                                tag_id:       { type: integer }
                                title:        { type: string, analyzer: russian, copy_to: tag_title }
                                litres_id:    { type: integer }
                                path:         { type: string, index: not_analyzed }
                        sequence:
                            type: "nested"
                            properties:
                                sequence_id:  { type: integer }
                                name:         { type: string, analyzer: russian, copy_to: sequence_title }
                                litres_id:    { type: integer }
                                path:         { type: string, index: not_analyzed }
                        author_name:
                            type: string
                            analyzer: russian
                            fields:
                                exact:
                                    type: string
                                    analyzer: russian_exact
                        genre_title:
                            type: string
                            analyzer: russian
                            fields:
                                exact:
                                    type: string
                                    analyzer: russian_exact
                        sequence_title:
                            type: string
                            analyzer: russian
                            fields:
                                exact:
                                    type: string
                                    analyzer: russian_exact
                        tag_title:
                            type: string
                            analyzer: russian
                            fields:
                                exact:
                                    type: string
                                    analyzer: russian_exact
                        book_title:
                            type: string
                            analyzer: russian
                            fields:
                                exact:
                                    type: string
                                    analyzer: russian_exact