fos_elastica:
    clients:
        default: { host: "%elastic_host%", port: "%elastic_port%" }
    indexes:
        routes:
            index_name: routes
            client:     default
            use_alias:  true
            settings:
                number_of_shards:   2
                number_of_replicas: 0
            types:
                route:
                    properties:
                        path_ru: { type: string, index: not_analyzed }
                        path_en: { type: string, index: not_analyzed }
        books:
            index_name: books
            client:     default
            use_alias:  true
            settings:
                number_of_shards:   2
                number_of_replicas: 0
                index:
                    analysis:
                        analyzer:
                            russian_exact:
                                type: custom
                                tokenizer: standard
                                filter: [lowercase]
                            russian:
                                type: custom
                                tokenizer: standard
                                filter: [lowercase, russian_stop, russian_stemmer]
                            english_exact:
                                type: custom
                                tokenizer: standard
                                filter: [lowercase]
                            english:
                                type: custom
                                tokenizer: standard
                                filter: [lowercase, english_stop, english_stemmer]
                        filter:
                            russian_stop:
                                  type: stop
                                  stopwords: _russian_
                            russian_stemmer:
                                  type: stemmer
                                  language: russian
                            english_stop:
                                  type: stop
                                  stopwords: _english_
                            english_stemmer:
                                  type: stemmer
                                  language: english
            types:
                book:
                    properties:
                        book_id:              { type: integer }
                        title_ru:             { type: string, analyzer: russian, copy_to: book_title_ru }
                        title_en:             { type: string, analyzer: english, copy_to: book_title_en }
                        rating:               { type: float }
                        annotation:           { type: string }
                        cover_path:           { type: string }
                        path:                 { type: string, index: not_analyzed }
                        price:                { type: float }
                        enabled:              { type: boolean }
                        has_trial:            { type: boolean }
                        featured_home:        { type: boolean }
                        date:                 { type: date, format: "yyyy-MM-dd" }
                        created_on:           { type: date, format: "yyyy-MM-dd" }
                        lang:                 { type: string }
                        sequence_number:      { type: integer }
                        litres_hub_id:        { type: integer }
                        document_id:          { type: string }
                        publisher:            { type: string }
                        city_published:       { type: string }
                        year_published:       { type: string }
                        isbn:                 { type: string }
                        review_count:         { type: integer }
                        authors:
                            type: "nested"
                            properties:
                                author_id:     { type: integer }
                                first_name:    { type: string, analyzer: russian }
                                middle_name:   { type: string, analyzer: russian }
                                last_name:     { type: string, analyzer: russian }
                                full_name_ru:  { type: string, analyzer: russian, copy_to: author_name_ru }
                                full_name_en:  { type: string, analyzer: english, copy_to: author_name_en }
                                short_name:    { type: string, analyzer: russian }
                                document_id:   { type: string }
                                path:          { type: string, index: not_analyzed }
                        genres:
                            type: "nested"
                            properties:
                                genre_id:       { type: integer }
                                title_ru:       { type: string, analyzer: russian, copy_to: genre_title_ru }
                                title_en:       { type: string, analyzer: english, copy_to: genre_title_en }
                                description_ru: { type: string }
                                description_en: { type: string }
                                litres_id:      { type: integer }
                                path_ru:        { type: string, index: not_analyzed }
                                path_en:        { type: string, index: not_analyzed }
                        tags:
                            type: "nested"
                            properties:
                                tag_id:       { type: integer }
                                title:        { type: string, analyzer: russian, copy_to: tag_title }
                                litres_id:    { type: integer }
                                path:         { type: string, index: not_analyzed }
                        sequence:
                            type: "nested"
                            properties:
                                sequence_id:  { type: integer }
                                name_ru:      { type: string, analyzer: russian, copy_to: sequence_title_ru }
                                name_en:      { type: string, analyzer: english, copy_to: sequence_title_en }
                                litres_id:    { type: integer }
                                path:         { type: string, index: not_analyzed }
                        author_name_ru:
                            type: string
                            analyzer: russian
                            fields:
                                exact:
                                    type: string
                                    analyzer: russian_exact
                        author_name_en:
                            type: string
                            analyzer: english
                            fields:
                                exact:
                                    type: string
                                    analyzer: english_exact
                        genre_title_ru:
                            type: string
                            analyzer: russian
                            fields:
                                exact:
                                    type: string
                                    analyzer: russian_exact
                        genre_title_en:
                            type: string
                            analyzer: english
                            fields:
                                exact:
                                    type: string
                                    analyzer: english_exact
                        sequence_title_ru:
                            type: string
                            analyzer: russian
                            fields:
                                exact:
                                    type: string
                                    analyzer: russian_exact
                        sequence_title_en:
                            type: string
                            analyzer: english
                            fields:
                                exact:
                                    type: string
                                    analyzer: english_exact
                        tag_title:
                            type: string
                            analyzer: russian
                            fields:
                                exact:
                                    type: string
                                    analyzer: russian_exact
                        book_title_ru:
                            type: string
                            analyzer: russian
                            fields:
                                exact:
                                    type: string
                                    analyzer: russian_exact
                        book_title_en:
                            type: string
                            analyzer: english
                            fields:
                                exact:
                                    type: string
                                    analyzer: english_exact