fos_elastica:
    clients:
        default: { host: "%elastic_host%", port: "%elastic_port%" }
    indexes:
        routes:
            index_name: routes
            client:     default
            use_alias:  true
            types:
                route:
                    mappings:
                        path: { type: string, index: not_analyzed }
        books:
            index_name: books
            client:     default
            use_alias:  true
            types:
                book:
                    mappings:
                        book_id:             { type: integer }
                        title:               { type: string }
                        rating:              { type: float }
                        book_type:           { type: integer }
                        annotation:          { type: string }
                        cover_preview_url:   { type: string }
                        cover_url:           { type: string }
                        annotation:          { type: string }
                        slug:                { type: string, index: not_analyzed }
                        authors:
                            type: "nested"
                            properties:
                                author_id:   { type: integer }
                                first_name:  { type: string }
                                middle_name: { type: string }
                                last_name:   { type: string }
                                photo_url:   { type: string }
                                description: { type: string }
                                slug:        { type: string, index: not_analyzed }
                        genres:
                            type: "nested"
                            properties:
                                genre_id:    { type: integer }
                                title:       { type: string }
                                slug:        { type: string, index: not_analyzed }

                        tags:
                            type: "nested"
                            properties:
                                tag_id:      { type: integer }
                                title:       { type: string }
                                slug:        { type: string, index: not_analyzed }

                        sequences:
                            type: "nested"
                            properties:
                                sequence_id: { type: integer }
                                name:        { type: string }
                                number:      { type: integer }
                                slug:        { type: string, index: not_analyzed }
                    persistence:
                        driver:   orm
                        model:    AppBundle\Entity\Book
                        provider: ~
                        listener: ~
                        finder:   ~
