# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:
    database_port:
    database_name:
    database_user:
    database_password:
    mailer_transport:
    mailer_host:
    mailer_port:
    mailer_user:
    mailer_password:
    mailer_auth_mode:
    mailer_encryption:
    secret:

    elastic_host:
    elastic_port:

    amazon.key:
    amazon.secret:
    amazon.region:
    amazon.bucket_name:

    facebook_client_id:
    facebook_client_secret:
    google_client_id:
    google_client_secret:
    vk_client_id:
    vk_client_secret:
    yandex_client_id:
    yandex_client_secret:

    slack_token:
    email_from:
    email_from_name:
    email_to:
