app:
    resource: "@AppBundle/Controller/"
    type:     annotation

admin:
    resource: "@SonataAdminBundle/Resources/config/routing/sonata_admin.xml"
    prefix: /admin

logout:
    path: /admin/logout

_sonata_admin:
    resource: .
    type: sonata_admin
    prefix:   /admin

site_index:
    path: /
    defaults: { _controller: AppBundle:Home:index }

show_book:
    path: /book/show/{id}
    defaults: { _controller: AppBundle:Book:show }

list_book:
    path: /book/list
    defaults: { _controller: AppBundle:Book:list }