app:
    resource: "@AppBundle/Controller/"
    type:     annotation

_liip_imagine:
    resource: "@LiipImagineBundle/Resources/config/routing.xml"

fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"

admin:
    resource: "@SonataAdminBundle/Resources/config/routing/sonata_admin.xml"
    prefix: /admin

logout:
    path: /admin/logout

_sonata_admin:
    resource: .
    type: sonata_admin
    prefix:   /admin

site_index:
    path: /
    defaults: { _controller: AppBundle:Home:index }
    options:
        sitemap: true

search:
    path: /search
    defaults: { _controller: AppBundle:Site:search }

search_with_page:
    path: /search/page/{page}
    defaults: { _controller: AppBundle:Site:search }

tags:
    path: /tags
    defaults: { _controller: AppBundle:Site:tags }
