app:
    resource: "@AppBundle/Controller/"
    type:     annotation

_liip_imagine:
    resource: "@LiipImagineBundle/Resources/config/routing.xml"

fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"

admin:
    resource: "@SonataAdminBundle/Resources/config/routing/sonata_admin.xml"
    prefix: /admin

lexik_translation_edition:
    resource: "@LexikTranslationBundle/Resources/config/routing.yml"
    prefix:   /admin/translation

hwi_oauth_redirect:
    resource: "@HWIOAuthBundle/Resources/config/routing/redirect.xml"
    prefix:   /connect

hwi_oauth_connect:
    resource: "@HWIOAuthBundle/Resources/config/routing/connect.xml"
    prefix:   /connect

hwi_oauth_login:
    resource: "@HWIOAuthBundle/Resources/config/routing/login.xml"
    prefix:   /login

logout:
    path: /admin/logout

_sonata_admin:
    resource: .
    type: sonata_admin
    prefix:   /admin

site_index:
    path: /
    defaults: { _controller: AppBundle:Home:index }
    options:
        sitemap: true

search:
    path: /search
    defaults: { _controller: AppBundle:Site:search }

search_with_page:
    path: /search/page/{page}
    defaults: { _controller: AppBundle:Site:search }

new_books:
    path: /new-books
    defaults: { _controller: AppBundle:Site:newBooks }
    options:
        sitemap: true

popular_books:
    path: /popular-books
    defaults: { _controller: AppBundle:Site:popularBooks }
    options:
        sitemap: true

popular_books_with_page:
    path: /popular-books/page/{page}
    defaults: { _controller: AppBundle:Site:popularBooks }

new_books_with_page:
    path: /new-books/page/{page}
    defaults: { _controller: AppBundle:Site:newBooks }

tags:
    path: /tags
    defaults: { _controller: AppBundle:Site:tags }
    options:
        sitemap: true

search_page:
    path: /search-page
    defaults: { _controller: AppBundle:Site:searchPage }

facebook_login:
    path: /login/check-facebook

google_login:
    path: /login/check-google
