hwi_oauth_redirect:
    resource: "@HWIOAuthBundle/Resources/config/routing/redirect.xml"
    prefix:   /connect

hwi_oauth_connect:
    resource: "@HWIOAuthBundle/Resources/config/routing/connect.xml"
    prefix:   /connect

hwi_oauth_login:
    resource: "@HWIOAuthBundle/Resources/config/routing/login.xml"
    prefix:   /login

app:
    resource: "@AppBundle/Controller/"
    type:     annotation

_liip_imagine:
    resource: "@LiipImagineBundle/Resources/config/routing.xml"

fos_user_admin:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"
    prefix:   /admin

fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"

default:
    path:  /admin/
    defaults: { _controller: SonataAdminBundle:Core:dashboard }

admin:
    resource: "@SonataAdminBundle/Resources/config/routing/sonata_admin.xml"
    prefix: /admin

lexik_translation_edition:
    resource: "@LexikTranslationBundle/Resources/config/routing.yml"
    prefix:   /admin/translation

_sonata_admin:
    resource: .
    type: sonata_admin
    prefix:   /admin

site_index:
    path: /
    defaults: { _controller: AppBundle:Site:index }
    options:
        sitemap: true

search:
    path: /search
    defaults: { _controller: AppBundle:Site:search }

search_with_page:
    path: /search/page/{page}
    defaults: { _controller: AppBundle:Site:search }

new_books:
    path: /new-books
    defaults: { _controller: AppBundle:Site:newBooks }
    options:
        sitemap: true

popular_books:
    path: /popular-books
    defaults: { _controller: AppBundle:Site:popularBooks }
    options:
        sitemap: true

popular_books_with_page:
    path: /popular-books/page/{page}
    defaults: { _controller: AppBundle:Site:popularBooks }

new_books_with_page:
    path: /new-books/page/{page}
    defaults: { _controller: AppBundle:Site:newBooks }

tags:
    path: /tags
    defaults: { _controller: AppBundle:Site:tags }
    options:
        sitemap: true

search_page:
    path: /search-page
    defaults: { _controller: AppBundle:Site:searchPage }

add_book_rating:
    path: /add-book-rating
    defaults: { _controller: AppBundle:Book:addBookRating }

add_book_review:
    path: /add-book-review
    defaults: { _controller: AppBundle:Book:addBookReview }

user_profile_reviews:
    path: /user-profile/reviews/
    defaults: { _controller: AppBundle:User:reviews }

user_profile_reviews_with_page:
    path: /user-profile/reviews/page/{page}
    defaults: { _controller: AppBundle:User:reviews, page: 1 }

user_profile_ratings:
    path: /user-profile/ratings/{page}
    defaults: { _controller: AppBundle:User:ratings, page: 1 }

facebook_login_check:
    path: /login/check-facebook

google_login_check:
    path: /login/check-google

vkontakte_login_check:
    path: /login/check-vkontakte

yandex_login_check:
    path: /login/check-yandex

facebook_login:
    path: /connect/facebook

google_login:
    path: /connect/google

vkontakte_login:
    path: /connect/vkontakte

yandex_login:
    path: /connect/yandex

front_logout:
    path: /logout
