# To get started with security, check out the documentation:
# http://symfony.com/doc/current/book/security.html
security:

    # http://symfony.com/doc/current/book/security.html#where-do-users-come-from-user-providers
    providers:
        fos_userbundle:
            id: fos_user.user_provider.username

    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        social:
            anonymous:  true
            pattern:    ^/
            provider:   fos_userbundle
            form_login:
                provider:   fos_userbundle
                login_path: /connect/
                check_path: /login/login_check
            logout:
                success_handler: AppBundle\Security\AuthenticationHandler
                path:   /logout
                target: /
            oauth:
                resource_owners:
                    facebook:      "/login/check-facebook"
                    google:        "/login/check-google"
                    yandex:        "/login/check-yandex"
                    vkontakte:     "/login/check-vkontakte"
                login_path:        /
                failure_path:      /
                use_forward:       false
                success_handler: AppBundle\Security\AuthenticationHandler
                oauth_user_provider:
                    service: AppBundle\Security\AuthFOSUserProvider

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN

    access_control:
        - { path: ^/admin/, roles: ROLE_SUPER_ADMIN }
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }

        - { path: ^/admin/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/login-check$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        # http://symfony.com/doc/current/bundles/FOSUserBundle/command_line_tools.html
    encoders:
        FOS\UserBundle\Model\UserInterface:
            algorithm: bcrypt
            cost: 12