# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
    litres_service:
        class: AppBundle\Service\LitresService
        arguments:
          - "@doctrine.orm.default_entity_manager"
          - "@logger"

    image_upload_service:
        class: AppBundle\Service\ImageUploadService
        arguments:
          - "@oneup_flysystem.s3_upload_filesystem"
          - "@vich_uploader.templating.helper.uploader_helper"
          - "%book_directory%"
          - "%author_directory%"

    twig.menu:
        class: AppBundle\Twig\MenuExtension
        public: false
        arguments:
            - "@menu_builder"
        tags:
            - { name: twig.extension }

    menu_builder:
        class: AppBundle\Service\MenuBuilder
        tags:
            - { name: kernel.event_listener, event: menu.cache_reset, method: resetCache }
        arguments:
            - "@doctrine.orm.default_entity_manager"
            - "@twig"
            - "%kernel.cache_dir%"
        lazy: true

    seo_manager:
        class: AppBundle\Service\SeoManager
        arguments:
            - "@sonata.seo.page"
            - "@translator.default"

    sitemap_subscriber:
        class: AppBundle\Service\SitemapSubscriber
        arguments:
            - "@doctrine.orm.default_entity_manager"
            - "%base_url%"
            - "%base_scheme%"
        tags:
            - { name: "kernel.event_subscriber", priority: 100 }

    search_provider.route:
        class: AppBundle\Provider\RouteProvider
        arguments:
            - "@fos_elastica.index.routes.route"
            - "@doctrine.orm.default_entity_manager"
            - 100
        tags:
            - { name: fos_elastica.provider, index: routes, type: route }

    search_provider.book:
        class: AppBundle\Provider\BookProvider
        arguments:
            - "@fos_elastica.index.books.book"
            - "@doctrine.orm.default_entity_manager"
            - 100
        tags:
            - { name: fos_elastica.provider, index: books, type: book }

    routing.dynamic_router:
        class: AppBundle\Routing\DynamicRouter
        arguments:
            - "@router.request_context"
            - "@routing.request_matcher"
            - "@cmf_routing.generator"
            - ""
            - "@?event_dispatcher"
            - "@cmf_routing.route_provider"
            - "@fos_elastica.index.routes.route"

    routing.request_matcher:
        class: AppBundle\Routing\RequestMatcher
        arguments:
            - "@routing.route_provider"
        calls:
            - [ setContext, ["@router.request_context"] ]
            - [ setFinalMatcher, ["@cmf_routing.final_matcher"] ]

    routing.route_provider:
        class: AppBundle\Routing\RouteProvider
        arguments:
            - "@fos_elastica.index.routes.route"

    query_service:
        class: AppBundle\Service\QueryService
        arguments:
            - "@fos_elastica.index.books.book"
