# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]

    litres_service:
        class: AppBundle\Service\LitresService
        arguments:
          - "@doctrine.orm.default_entity_manager"
          - "@logger"

    twig.main_menu:
        class: AppBundle\Twig\MainMenuExtension
        public: false
        arguments:
            - "@menu_builder"
        tags:
            - { name: twig.extension }

    menu_builder:
        class: AppBundle\Service\MenuBuilder
        tags:
            - { name: kernel.event_listener, event: menu.cache_reset, method: resetCache }
        arguments:
            - "@doctrine.orm.default_entity_manager"
            - "@service_container"
            - "%kernel.cache_dir%"
        lazy: true
