# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]

    litres_service:
        class: AppBundle\Service\LitresService
        arguments:
          - "@doctrine.orm.default_entity_manager"
          - "@logger"

    image_upload_service:
        class: AppBundle\Service\ImageUploadService
        arguments:
          - "@oneup_flysystem.s3_upload_filesystem"
          - "@vich_uploader.templating.helper.uploader_helper"
          - "%book_full_directory%"
          - "%book_preview_directory%"
          - "%author_directory%"

    twig.main_menu:
        class: AppBundle\Twig\MainMenuExtension
        public: false
        arguments:
            - "@menu_builder"
        tags:
            - { name: twig.extension }

    menu_builder:
        class: AppBundle\Service\MenuBuilder
        tags:
            - { name: kernel.event_listener, event: menu.cache_reset, method: resetCache }
        arguments:
            - "@doctrine.orm.default_entity_manager"
            - "@service_container"
            - "%kernel.cache_dir%"
        lazy: true

    search_provider.route:
        class: AppBundle\Provider\RouteProvider
        arguments:
            - "@fos_elastica.index.routes.route"
            - "@doctrine.orm.default_entity_manager"
            - 100
        tags:
            - { name: fos_elastica.provider, index: routes, type: route }

    routing.dynamic_router:
        class: AppBundle\Routing\DynamicRouter
        arguments:
            - "@router.request_context"
            - "@routing.request_matcher"
            - "@cmf_routing.generator"
            - "@?event_dispatcher"
            - "@fos_elastica.index.routes.route"

    routing.request_matcher:
        class: AppBundle\Routing\RequestMatcher
        arguments:
            - "@routing.route_provider"
        calls:
            - [ setContext, ["@router.request_context"] ]
            - [ setFinalMatcher, ["@cmf_routing.final_matcher"] ]

    routing.route_provider:
        class: AppBundle\Routing\RouteProvider
        arguments:
            - "@fos_elastica.index.routes.route"

    query_service:
        class: AppBundle\Service\QueryService
        arguments:
            - "@fos_elastica.index.books.book"
