services:
    _defaults:
         autowire: true
         autoconfigure: true
         public: false

    AppBundle\:
         resource: '../../src/AppBundle/*'
         exclude: '../../src/AppBundle/{Entity,Repository,Model}'

    AppBundle\Controller\:
         resource: '../../src/AppBundle/Controller'
         public: true
         tags: ['controller.service_arguments']

    AppBundle\Service\LitresService:
        arguments:
          - "@doctrine.orm.default_entity_manager"
          - "@logger"
          - "%locales%"
        public: true

    AppBundle\Service\LitresFileService:
        arguments:
          - "@doctrine.orm.default_entity_manager"
          - "@logger"
          - "%kernel.root_dir%"
          - "%locales%"
        public: true

    AppBundle\Service\BookPageService:
        arguments:
          - '@AppBundle\Service\QueryService'
          - "@doctrine.orm.default_entity_manager"
          - "%default_per_page%"

    AppBundle\Service\ImageUploadService:
        arguments:
          - "@oneup_flysystem.s3_upload_filesystem"
          - "@vich_uploader.templating.helper.uploader_helper"
          - "%book_directory%"
        public: true

    AppBundle\Service\MenuBuilder:
        arguments:
            - "@doctrine.orm.default_entity_manager"
            - "@twig"
            - "%kernel.cache_dir%"
            - '@AppBundle\Service\QueryService'
            - '@AppBundle\Service\LocaleService'
        lazy: true

    AppBundle\Service\LitresBookManager:
        arguments:
            - "@translator.default"
            - "%litres_partner_id%"

    AppBundle\Service\SitemapListener:
        arguments:
            - "@doctrine.orm.default_entity_manager"
            - '@AppBundle\Service\LocaleService'
        tags:
            - { name: "presta.sitemap.listener", priority: 100 }
        public: true

    AppBundle\Provider\RouteProvider:
        arguments:
            - "@fos_elastica.index.routes.route"
            - "@doctrine.orm.default_entity_manager"
            - 100
        tags:
            - { name: fos_elastica.provider, index: routes, type: route }
        public: true

    AppBundle\Provider\BookProvider:
        arguments:
            - "@fos_elastica.index.books.book"
            - "@doctrine.orm.default_entity_manager"
            - '@AppBundle\Service\BookPageService'
            - 100
        tags:
            - { name: fos_elastica.provider, index: books, type: book }
        public: true

    AppBundle\Routing\DynamicRouter:
        arguments:
            - "@router.request_context"
            - '@AppBundle\Routing\RequestMatcher'
            - "@cmf_routing.generator"
            - ""
            - "@?event_dispatcher"
            - "@cmf_routing.route_provider"
            - "@fos_elastica.index.routes.route"
            - '@AppBundle\Service\LocaleService'

    AppBundle\Routing\RequestMatcher:
        arguments:
            - '@AppBundle\Routing\RouteProvider'
        calls:
            - [ setContext, ["@router.request_context"] ]
            - [ setFinalMatcher, ["@cmf_routing.final_matcher"] ]

    AppBundle\Routing\RouteProvider:
        arguments:
            - "@fos_elastica.index.routes.route"
            - '@AppBundle\Service\LocaleService'

    AppBundle\Service\QueryService:
        arguments:
            - "@fos_elastica.index.books.book"
            - "%default_per_page%"

    AdminBundle\EventListener\AuthorListener:
        tags:
            - { name: doctrine.event_listener, event: onFlush }

    AppBundle\Security\AuthFOSUserProvider:
        arguments:
            $properties: { facebook: facebookId, google: googleId, yandex: yandexId, vkontakte: vkontakteId }

    AppBundle\Model\Pagerfanta\PaginationView:
        arguments:
          - '@translator.default'
        tags:
            - { name: 'pagerfanta.view', alias: 'bookary_pagination' }

    AppBundle\Service\LocaleService:
        arguments:
            - "@request_stack"
            - "%hosts%"
            - "%locales%"
            - "%default_locale%"
#
#    monolog.processor.web:
#        class: Monolog\Processor\WebProcessor
#        tags:
#            - { name: monolog.processor, handler: slackbot }