services:
    _defaults:
         autowire: true
         autoconfigure: true
         public: false

    AppBundle\:
         resource: '../../src/AppBundle/*'
         exclude: '../../src/AppBundle/{Entity,Repository,Model}'

    AppBundle\Controller\:
         resource: '../../src/AppBundle/Controller'
         public: true
         tags: ['controller.service_arguments']

    AppBundle\Service\LitresService:
        arguments:
          - "@doctrine.orm.default_entity_manager"
          - "@logger"
          - '@AppBundle\Service\ImageUploadService'
          - "%locales%"
        public: true

    AppBundle\Service\LitresFileService:
        arguments:
          - "@doctrine.orm.default_entity_manager"
          - "@logger"
          - '@AppBundle\Service\ImageUploadService'
          - "%kernel.root_dir%"
          - "%locales%"
        public: true

    AppBundle\Service\BookPageService:
        arguments:
          - '@AppBundle\Service\QueryService'
          - "@doctrine.orm.default_entity_manager"
          - "%default_per_page%"

    AppBundle\Service\ImageUploadService:
        arguments:
          - "@oneup_flysystem.s3_upload_filesystem"
          - "%book_directory%"
        public: true

    AppBundle\Service\MenuBuilder:
        arguments:
            - "@doctrine.orm.default_entity_manager"
            - "@twig"
            - "%kernel.cache_dir%"
            - '@AppBundle\Service\QueryService'
            - '@AppBundle\Service\LocaleService'
            - '@fos_elastica.index.books'
        tags:
            - { name: kernel.event_listener, event: reset_menu_cache, method: resetCache }
        lazy: true

    AppBundle\Service\LitresBookManager:
        arguments:
            - "@translator.default"
            - "%litres_partner_id%"

    AppBundle\Service\SitemapListener:
        arguments:
            - "@doctrine.orm.default_entity_manager"
            - '@AppBundle\Service\LocaleService'
        tags:
            - { name: "presta.sitemap.listener", priority: 100 }
        public: true

    AppBundle\Provider\RouteProvider:
        arguments:
            - "@fos_elastica.index.routes.route"
            - "@doctrine.orm.default_entity_manager"
            - 100
        tags:
            - { name: fos_elastica.provider, index: routes, type: route }
        public: true

    AppBundle\Provider\BookProvider:
        arguments:
            - "@fos_elastica.index.books.book"
            - "@doctrine.orm.default_entity_manager"
            - '@AppBundle\Service\BookPageService'
            - 100
        tags:
            - { name: fos_elastica.provider, index: books, type: book }
        public: true

    AppBundle\Routing\DynamicRouter:
        arguments:
            - "@router.request_context"
            - '@AppBundle\Routing\RequestMatcher'
            - "@cmf_routing.generator"
            - ""
            - "@?event_dispatcher"
            - "@cmf_routing.route_provider"
            - "@fos_elastica.index.routes.route"
            - '@AppBundle\Service\LocaleService'

    AppBundle\Routing\RequestMatcher:
        arguments:
            - '@AppBundle\Routing\RouteProvider'
        calls:
            - [ setContext, ["@router.request_context"] ]
            - [ setFinalMatcher, ["@cmf_routing.final_matcher"] ]

    AppBundle\Routing\RouteProvider:
        arguments:
            - "@fos_elastica.index.routes.route"
            - '@AppBundle\Service\LocaleService'

    AppBundle\Service\QueryService:
        arguments:
            - "@fos_elastica.index.books.book"
            - "%default_per_page%"

    AdminBundle\EventListener\AuthorListener:
        tags:
            - { name: doctrine.event_listener, event: onFlush, method: onFlush }

    AppBundle\Security\AuthFOSUserProvider:
        arguments:
            $properties: { facebook: facebookId, google: googleId, yandex: yandexId, vkontakte: vkontakteId }

    AppBundle\Model\Pagerfanta\PaginationView:
        arguments:
          - '@translator.default'
        tags:
            - { name: 'pagerfanta.view', alias: 'bookary_pagination' }

    AppBundle\Service\LocaleService:
        arguments:
            - "@request_stack"
            - "%hosts%"
            - "%locales%"
            - "%default_locale%"

    AppBundle\Service\AdsManager:
        arguments:
            - "@doctrine.orm.default_entity_manager"
            - '@AppBundle\Service\LocaleService'
            - "%kernel.cache_dir%"
        tags:
            - { name: kernel.event_listener, event: reset_ads_cache, method: resetCache }
        lazy: true

    AppBundle\Service\BookConsumer:
        arguments:
            - "@doctrine.orm.default_entity_manager"
            - '@AppBundle\Provider\BookProvider'
            - '@AppBundle\Provider\RouteProvider'
            - '@event_dispatcher'
        tags:
            - { name: uecode_qpush.event_listener, event: books_index.message_received, method: onMessageReceived, priority: 100 }

    AppBundle\EventListener\BookIndexListener:
        arguments:
            - '@uecode_qpush.books_index'
            - '%message_queue_on%'
        tags:
            - { name: doctrine.event_listener, event: onFlush, method: onFlush, priority: -1020 }
            - { name: doctrine.event_listener, event: postPersist, method: postPersist, priority: -1020 }
            - { name: doctrine.event_listener, event: postFlush, method: postFlush, priority: -1020 }

    AppBundle\EventListener\AdsListener:
        arguments:
            - '@uecode_qpush.books_index'
            - '%message_queue_on%'
        tags:
            - { name: doctrine.event_listener, event: onFlush, method: onFlush }
            - { name: doctrine.event_listener, event: postFlush, method: postFlush }

    AppBundle\EventListener\ReviewListener:
        arguments:
            - '@swiftmailer.mailer'
            - '%email_from%'
            - '%email_from_name%'
            - '%email_to%'
        tags:
            - { name: doctrine.event_listener, event: onFlush, method: onFlush }
            - { name: doctrine.event_listener, event: postFlush, method: postFlush }
