<!-- register Modal -->
<div class="modal fade" id="reg-box" tabindex="-1" role="dialog">
    <div class="modal-dialog login1">
        <div class="modal-content">
            <div class="user-box">
                <!--FORM FIELD START-->
                <form>
                    <div class="input-dec3">
                        <input type="text" placeholder="E-mail">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="input-dec3">
                        <input type="text" placeholder="Password">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="dialog-footer">
                        <button class="dialog-button">Register</button>
                    </div>
                </form>
                <!--FORM FIELD END-->
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- register Modal end-->

<!-- SIGNIN MODEL START -->
<div class="modal fade" id="signin-box" tabindex="-1" role="dialog">
    <div class="modal-dialog login1">
        <div class="modal-content">
            <div class="user-box">
                <!--FORM FIELD START-->
                <form>
                    <div class="input-dec3">
                        <input type="text" placeholder="E-mail">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="input-dec3">
                        <input type="text" placeholder="Password">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="dialog-footer">
                        <button class="dialog-button">Login</button>
                        <a href="#">Forgot Password<i class="fa fa-question-circle"></i></a>
                    </div>
                </form>
                <!--FORM FIELD END-->
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- SIGNIN MODEL END -->
<!--HEADER START-->
<header class="header-1">
    <!--TOP BAR START START-->
    <div class="top-bar">
        <div class="container">
            <div class="pull-right">
                <div class="user-wrap">
                    <div class="user-dec">
                        <i class="fa fa-sign-in"></i>
                        <a href="#" data-toggle="modal" data-target="#signin-box">Sign In</a>
                        <a href="#" data-toggle="modal" data-target="#reg-box">Register</a>
                    </div>
                </div>
                <ul class="social-1">
                    <li><a href="#"><i class="fa fa-vk"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google"></i></a></li>
                    <li><a href="#"><i class="fa fa-yahoo"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--TOP BAR END-->
    <!--LOGO WRAP START-->
    <div class="logo-wrap">
        <div class="container">
            <!--LOGO DEC START-->
            <div class="logo-dec">
                <a href=""><img src="{{ asset('compiled/images/logo.png') }}" alt=""/></a>
            </div>
            <!--LOGO DEC END-->
            <!--SEARCH WRAP START-->
            <div class="searh-wrap">
                <ul class="tags-1">
                    <li><a href="#">How to Order</a></li>
                    <li><a href="#">Payment</a></li>
                    <li><a href="#">Shipping</a></li>
                </ul>
                <form id="search" action="{{ path('search') }}">
                    <div class="select-menu">
                        <select>
                            <option value="1">book</option>
                            <option value="9">novel</option>
                            <option value="2">books</option>
                            <option value="3">Select 4</option>
                            <option value="6">Select 5</option>
                            <option value="8">Select 6</option>
                        </select>
                    </div>
                    <div class="text-filed-1">
                        <input type="text" name="query" id="search-query" placeholder="Search" value="{{ query|default('') }}">
                        <button><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
            <!--SEARCH WRAP END-->
            <!--CART WRAP START-->
            <div class="cart-wrap">
                <!--Mobile Menu Start-->
                <div id="kode-responsive-navigation" class="dl-menuwrapper">
                    <button class="dl-trigger">Open Menu</button>
                    <ul class="dl-menu">
                        <li><a href="/">home</a>
                            <ul class="dl-submenu">
                                <li><a href="index-2.html">index 2</a></li>
                            </ul>
                        </li>
                        <li class="menu-item kode-parent-menu"><a href="#">Pages</a>
                            <ul class="dl-submenu">
                                <li><a href="login-forms.html">login forms</a></li>
                                <li><a href="comingsoon.html">coming soon</a></li>
                                <li><a href="checkout.html">check out</a></li>
                                <li><a href="404.html">404</a></li>
                                <li><a href="widgets.html">widgets</a></li>
                                <li><a href="shortcode.html">shortcode</a></li>
                            </ul>
                        </li>
                        <li class="menu-item kode-parent-menu"><a href="about-author.html">about author</a>
                        </li>
                        <li class="menu-item kode-parent-menu"><a href="#">products</a>
                            <ul class="dl-submenu">
                                <li><a href="product-detail.html">product detail</a></li>
                                <li><a href="product-detail2.html">product detail 2</a></li>
                                <li><a href="product-detail3.html">product detail 3</a></li>
                                <li><a href="grid_03_columns.html">product 3 col</a></li>
                                <li><a href="grid_04_columns.html">product 4 col</a></li>
                            </ul>
                        </li>
                        <li class="menu-item kode-parent-menu"><a href="#">blog</a>
                            <ul class="dl-submenu">
                                <li><a href="blog-classic.html">blog-classic</a></li>
                                <li><a href="blog-detail.html">blog-detail</a></li>
                                <li><a href="blog-detail-fullwidth.html">blog detail 2</a></li>
                                <li><a href="blog-full-width.html">blog full width</a></li>
                                <li><a href="blog_masonry_2_columns.html">blog masonry</a></li>
                                <li><a href="blog-grid2.html">blog 2</a></li>
                                <li><a href="list-style_01_columns.html">list style 1</a></li>
                                <li><a href="list-style_01_sidebar.html">list style sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="contact-us.html">Contact Us</a></li>
                    </ul>
                </div>
                <!--Mobile Menu END-->
            </div>
            <!--CART WRAP END-->
        </div>
    </div>
    <!--LOGO WRAP END-->
    {{ main_menu()|raw }}
</header>
<!--HEADER END-->