<ul class="dl-submenu">
{% for parentGenre in parentGenres %}
    {% if genres[parentGenre.id] is defined %}
        {% set childGenres = genres[parentGenre.id] %}
    {% else %}
        {% set childGenres = [] %}
    {% endif %}
    {% if childGenres %}
        <li class="menu-item kode-parent-menu"><a href="#">{{ locale_field(parentGenre, 'title') }}</a>
            <ul class="dl-submenu">
                {%- for childGenre in childGenres -%}
                    {% set genreUrl = childGenre.pathPrefix ~ '/' ~ locale_field(childGenre, 'slug') %}
                    <li><a href="/{{ genreUrl }}">{{ locale_field(childGenre, 'title') }}</a></li>
                {%- endfor -%}
            </ul>
        </li>
    {% endif %}
{% endfor %}
</ul>