<header>
    <div class="header-inner">
        <div class="header-blocks">
            <div class="falcon-logo"></div>

            <nav class="nav">
                <ul class="items">
                    <li class="item"></li>
                </ul>
            </nav>

            <div class="search">
                <div class="searchbox"></div>
            </div>
            <!-- User panel -->
            <div class="user-panel"></div>
            <!-- / User panel -->
        </div>
    </div>

    <div class="catalog-header-tools">
        <div class="catalog-all-genres">
            <div class="link-selector">
                <div class="link-selector-control">
                    <span class="link-selector-label">Все жанры</span>
                </div>
                <div class="book-classification">
                    <div class="genres">
                        <ul class="items">
                            <li class="item"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Breadcrumbs -->
        <div class="catalog-header-genre">
            <div class="catalog-header-breadcrumbs">
                <nav class="breadcrumbs">
                    <ul itemscope itemtype="http://schema.org/BreadcrumbList" class="items">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="item -home">
                            <a itemprop="item" href="/">
                                <span itemprop="name" class="item-name">Главная</span>
                            </a>
                            <meta itemprop="position" content="1" />
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="catalog-header-title hyphenate">
                <h1 class="capitalized">Эротика и секс</h1>
            </div>
        </div>
        <!-- / Breadcrumbs -->
    </div>
</header>