<header>
    <div class="header-top">
        {% block logo %}
            <div class="logo"></div>
        {% endblock %}

        {% block search %}
            <div class="search"></div>
        {% endblock %}

        {% block userMenu %}
            <div class="user"></div>
        {% endblock %}
    </div>

    <nav class="breadcrumbs">
        {% block breadcrumbs %}
            <ul itemscope itemtype="http://schema.org/BreadcrumbList" class="items">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="item">
                    <a itemprop="item" href="/">
                        <span itemprop="name" class="item-name"></span>
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
            </ul>
        {% endblock %}
    </nav>
</header>