{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
<div class="kf_content_wrap">
    <section>
        <div class="container">
            <div class="heading-3">
                <h2>{{ 'front.policy'|trans }}</h2>
            </div>
            <p><b>Мы сохраняем конфиденциальность и неприкосновенность ваших персональных данных. Мы хотим, чтобы вы знали как мы обрабатываем ваши данные. Для этого предлагаем вам ознакомиться с нашей Политикой конфиденциальности.</b></p>
            <p>Используя сервисы Bookary, вы соглашаетесь с данной Политикой конфиденциальности.</p>
            <p>
                <b>Какие данные собираются?</b>
                <ol class="sf-reset">
                    <li>Имя</li>
                    <li>Email</li>
                    <li>Другую информацию, которая позволяет нашим сервисам работать в автоматическом режиме</li>
                </ol>
            </p>
            <p><b>Как мы защищаем вашу информацию?</b></p>
            <p>Ваши персональные данные хранятся в защищенной сети и доступны только ограниченному количеству  пользователей, которые обязуются сохранять конфиденциальность информации. К тому же, вся предоставленная информация шифруется, используя SSL (уровень
                защищенных токенов).</p>

            <p>Наши сервисы используют только официальные API для доступа к данным Google, Facebook, Yandex, Vkontakte и других сервисов.</p>

            <p>Чтобы обеспечить доступ к услугам Google, мы используем OAuth аутентификацию. Это открытый протокол авторизации, который дает ограниченный доступ к защищенным ресурсам для наших сервисов без передачи логина и пароля.</p>
        </div>
    </section>
</div>
{% endblock %}
