{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <menu class="genres">
        <ul>
            {% for genre in genres if genre.token%}
                {% if genre.token %}
                    <li><a href="{{ path('show_genre', {'id': genre.id}) }}">{{ genre.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </menu>

    <div class="page">
        <div class="catalog lt-pc">
            <div class="catalog-base">
                <nav>
                    <div class="genre">
                        <div class="genre-title"></div>
                        <span class="item_amount"></span>
                    </div>
                    <div class="class-list">
                        <ul class="items">
                            <li class="item"></li>
                        </ul>
                        <div class="publishers"></div>
                        <div class="class-list">
                            <ul class="items">
                                <li class="item"></li>
                            </ul>
                        </div>
                        <div class="tags"></div>
                        <div class="class-list">
                            <ul class="items">
                                <li class="item"></li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <section class="feature-book">
                    <div class="genre-title"></div>
                    <div class="book">
                        <img src="" alt="" class="image" />
                        <div class="book-read"></div>
                        <div class="book-add"></div>
                    </div>
                    <div class="book-name"></div>
                    <div class="book-author"></div>
                    <div class="book-rating"></div>
                    <div class="book-description"></div>
                </section>

                <section class="book-feature-list">
                    <ul class="items">
                        <li class="item">
                            <div class="book">
                                <div class="book-cover">
                                    <img src="" alt="" class="image" />
                                    <div class="book-name"></div>
                                    <div class="book-author"></div>
                                    <div class="book-rating"></div>
                                    <div class="book-description"></div>
                                    <div class="book-read"></div>
                                    <div class="book-add"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </div>

        <div class="catalog-section">
            <div class="catalog-section-title"></div>
            <div class="catalog-section-description"></div>
        </div>

        <div class="catalog-section">
            <div class="catalog-more">
                <span class="catalog-more-amount"></span>
            </div>
        </div>
    </div>
{% endblock %}
