<div class="copy-right copy-right2">
    <div class="container">
        <p>© 2016, books</p>
        <ul class="ft-nav">
            <li>
                <a href="#">home</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
            <li>
                <a href="#">Categories</a>
            </li>
            <li>
                <a href="#">Features</a>
            </li>
            <li>
                <a href="#">Blog</a>
            </li>
            <li>
                <a href="#">Shop</a>
            </li>
            <li>
                <a href="#">Contact Us</a>
            </li>
        </ul>
        <ul class="brand-icons">
            <li><a href="#"><i class="icon-visa-pay-logo"></i></a></li>
            <li><a href="#"><i class="icon-master-card-logo"></i></a></li>
            <li><a href="#"><i class=" icon-payoneer-logo"></i></a></li>
            <li><a href="#"><i class="icon-paypal-logo"></i></a></li>
            <li><a href="#"><i class="icon-skrill-pay-logo"></i></a></li>
        </ul>
    </div>
</div>
<!-- START GO UP -->
<div class="go-up">
    <a href="" ><i class="fa fa-angle-up"></i></a>
</div>
<!--END GO UP-->
