.ads__side {
    background: none !important;
}

.ads__catalog_top {
    margin-bottom: 20px;
}

.ads__section_top {
    padding-bottom: 0 !important;
    padding-top: 10px !important;
}

/*
=================================================
			FROM 0PX TO 990PX
=================================================
*/
@media (max-width: 991px) {
    .adsbygoogle-top {
        display: none !important;
    }
}
/*
=================================================
			FROM 991PX AND MORE
=================================================
*/
@media (min-width: 991px) {
    .adsbygoogle-side {
        display: none !important;
    }
}
