liip_imagine:
    data_loader: s3_upload
    driver:      gd
    loaders:
        s3_upload:
            flysystem:
                filesystem_service: oneup_flysystem.s3_upload_filesystem
    resolvers:
        local_upload:
            flysystem:
                filesystem_service: oneup_flysystem.local_upload_filesystem
                cache_prefix:       "media/cache"
                root_url:           "/"

    filter_sets:
        book_full:
            cache:   local_upload
            quality: 50
            filters:
                strip: ~

        book_featured_side:
            cache:   local_upload
            quality: 50
            filters:
                strip: ~
                relative_resize:
                    widen: 54

        book_featured_books:
            cache:   local_upload
            quality: 50
            filters:
                strip: ~
                relative_resize:
                    widen: 255
