parameters:
    liip_imagine.jpegoptim.tempDir:     /run/shm
    liip_imagine.jpegoptim.progressive: true
    liip_imagine.jpegoptim.stripAll:    true
    liip_imagine.jpegoptim.max:         50

liip_imagine:
    data_loader: s3_upload
    driver:      gd
    loaders:
        s3_upload:
            flysystem:
                filesystem_service: oneup_flysystem.s3_upload_filesystem
    resolvers:
        local_upload:
            flysystem:
                filesystem_service: oneup_flysystem.local_upload_filesystem
                cache_prefix:       "images"
                root_url:           "/"

    filter_sets:
        book_full:
            cache:   local_upload
            post_processors:
                jpegoptim: {}

        book_list:
            cache:   local_upload
            filters:
                resize: { size: [262, 400] }
            post_processors:
                jpegoptim: {}