liip_imagine:
    data_loader: s3_upload
    driver:      gd
    loaders:
        s3_upload:
            flysystem:
                filesystem_service: oneup_flysystem.s3_upload_filesystem
    resolvers:
        local_upload:
            flysystem:
                filesystem_service: oneup_flysystem.local_upload_filesystem
                cache_prefix:       "media/cache"
                root_url:           "/"

    filter_sets:
        book_full:
            cache:   local_upload
            quality: 85
            filters:
                strip: ~
                relative_resize:
                    widen: 409

        book_featured_side:
            cache:   local_upload
            quality: 60
            filters:
                strip: ~
                relative_resize:
                    widen: 54

        book_featured_books:
            cache:   local_upload
            quality: 80
            filters:
                strip: ~
                resize: { size: [255, 400] }

        book_list:
            cache:   local_upload
            quality: 80
            filters:
                strip: ~
                resize: { size: [262, 400] }