<footer>
    <div class="footer-inner">
        <!-- First nav column -->
        <div class="footer-section">
            <nav class="link-list -dark">
                <ul class="items">
                    <li class="item"></li>
                </ul>
            </nav>
        </div>
        <!-- / First nav column -->
        <!-- Second nav column -->
        <div class="footer-section">
            <nav class="link-list -dark">
                <ul class="items">
                    <li class="item"></li>
                </ul>
            </nav>
        </div>
        <!-- / Second nav column -->
        <div class="footer-section">
            <div class="copyright">&copy;&nbsp;2016 Falcon</div>
            <!-- Social network groups -->
            <div class="sn-groups"></div>
            <!-- / Social network groups -->
        </div>
    </div>
</footer>