<footer>
    <div class="footer-inner">
        {% block footerMenu %}
            <nav class="link-list">
                <ul class="items">
                    <li class="item"></li>
                </ul>
            </nav>
            <nav class="link-list">
                <ul class="items">
                    <li class="item"></li>
                </ul>
            </nav>
        {% endblock %}

        {% block copyright %}
            <div class="copyright">&copy;</div>
        {% endblock %}

        {% block copyright %}
            <div class="social"></div>
        {% endblock %}
    </div>
</footer>